# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.opensdf
*.sdf
*.txt
*.suo
*.vsp
*.psess
*.exe
*.filters
*.user
stdafx.cpp
stdafx.h
targetver.h

#Unused directories
/Debug
/Release
/ipch
/InputFiles
/Output
/x64
/SyntheticExperAgg